@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}

<div class="jumbotron">
	<h1>ASP.NET</h1>
	<p class="lead">Este projeto realiza entrada de dados de forma dinâmica.</p>
	<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>